body {
    background-color: #eef;
}

div.map {
    position: relative;
}

div.tile-outer {
    height: 77px;
    width: 91px;
   position: absolute;

    z-index: 0;
}

div.tile-inner {
    height: 77px;
    width: 50px;
    margin: auto;
    line-height: 38px;
    text-align: center;
    cursor: hand;

    z-index: 2;
}

div.tile-water {
    background: url(../images/hexagons.png) -88px 0;
}

div.tile-barren {
    background: url(../images/hexagons.png) -182px 0;
}

div.tile-clear {
    background: url(../images/hexagons.png) 0 0;
}

