body {
    background-color: #eef;
}

div.map {
    position: relative;
}

div.tile-outer {
    height: 38px;
    width: 46px;
   position: absolute;

    z-index: 0;
}

div.tile-inner {
    height: 38px;
    width: 25px;
    margin: auto;
    line-height: 18px;
    text-align: center;
    cursor: hand;

    z-index: 2;
}
