{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/assets/css/index.css') }}" />
{% endblock %}

{% block body %}

    <a href="/langton">
        <div class="catli">&nbsp;</div>
    </a>

{% endblock %}
